.settings-box {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-flow: row wrap;
  justify-content: space-around;
}

.change-photo-box,
.change-pass-box {
  -webkit-box-flex: 1;
  flex: 1;
  text-align: center;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-flow: column nowrap;
  -webkit-box-align: center;
  align-items: center;
  padding: 15px;
  min-width: 265px;
}

.change-photo-box img {
  width: 22vh;
  height: 22vh;
  border-radius: 50%;
  justify-self: center;
  margin-bottom: 50px;
  margin-top: 50px;
}

.change-pass-box h3 {
  margin-bottom: 35px;
}

.change-pass-box label,
.change-pass-box input {
  align-self: flex-start;
  box-sizing: border-box;
}

.change-pass-box input {
  width: 100%;
  margin-bottom: 15px;
}
