body {
  font-family: sans-serif;
  font-size: 15px;
  margin: 0;
  background: url("../images/bg.jpg") no-repeat center center fixed;
  background-size: cover;
}

h2 {
  margin: 0;
  font-weight: bold;
}

.container {
  margin-top: 50px;
  width: 100%;
  max-width: 600px;
  margin-right: auto;
  margin-left: auto;
}

@media (max-width: 576px) {
  .container {
    margin-left: 10px;
    margin-right: 10px;
  }
}

.bg-image-login,
.bg-image-signup {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  position: absolute;
  background-size: cover;
}

.bg-image-login {
  background-image: url("../images/bg2.jpg");
}

.bg-image-signup {
  background-image: url("../images/bg3.jpg");
}

.login-container {
  width: 280px;
  height: 420px;
  padding: 80px 40px;
  border-radius: 10px;
  background-color: #8ec5fc;
  background-image: linear-gradient(62deg, #8ec5fc 0%, #e0c3fc 100%);
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.login-container h1 {
  margin-top: 0;
  margin-bottom: 60px;
}

.login-container button {
  width: 100%;
  margin: 30px 0;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#e0c3fc),
    to(#d8b0fd)
  );
  background: linear-gradient(to bottom, #e0c3fc, #d8b0fd);
  padding: 7px;
  border: none;
  border-radius: 2px;
  box-shadow: 1px 1px 1px #0000008a;
  font-size: 16px;
}

.login-container button:hover {
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#d8b0fd),
    to(#e0c3fc)
  );
  background: linear-gradient(to bottom, #d8b0fd, #e0c3fc);
  background-color: #e0c3fc;
}

.login-container button:active {
  position: relative;
  top: 1px;
}

.upper-nav {
  margin: 3px;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
}

.profile-div h3 {
  margin: 0;
  padding: 10px;
  float: right;
}

.profile-photo {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  border: 4px solid #d8b0fd;
  cursor: pointer;
}

.white-box {
  background-color: #ffffffb6;
  padding: 10px;
  border-radius: 10px;
  font-size: 17px;
  height: 20px;
}

.upper-nav a,
.upper-nav a > i {
  color: red;
}

.todo-form {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-flow: row nowrap;
  margin-bottom: 20px;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  margin: 0;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-flow: row nowrap;
  -webkit-box-pack: justify;
  justify-content: space-between;
  padding: 10px;
  background-color: rgba(134, 134, 134, 0.1);
  border-radius: 5px;
}

.actions {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-flow: row nowrap;
}

.actions a {
  text-decoration: none;
  margin-left: 5px;
  text-align: right;
}

.btn {
  color: white;
  border: none;
  border-radius: 5px;
  padding: 8px 15px;
  cursor: pointer;
  -webkit-transition: ease 0.3s;
  transition: ease 0.3s;
}

.submit {
  background-color: #6675df;
  /* height: 40px;
  margin-left: 10px;
  align-self: flex-end; */
}

.submit:hover {
  background-color: #3647bb;
}

.todo-form .submit {
  height: 40px;
  margin-left: 10px;
  align-self: flex-end;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.delete {
  background-color: #ec2525;
}

.delete:hover {
  background-color: #c90d0d;
}

.edit {
  background-color: #828282;
}

.edit:hover {
  background-color: #666666;
}

/* ---------------------------- */

.form {
  width: 100%;
  position: relative;
  height: 70px;
  overflow: hidden;
}

.form input {
  width: 100%;
  height: 100%;
  padding-top: 20px;
  border: none;
  background-color: transparent;
  outline: none;
}

.form label {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  border-bottom: 1px solid rgb(146, 146, 146);
  color: rgb(102, 102, 102);
}

.form label::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 100%;
  border-bottom: 3px solid #4a90d9;
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  -webkit-transition: -webkit-transform 0.2s ease;
  transition: -webkit-transform 0.2s ease;
  transition: transform 0.2s ease;
  transition: transform 0.2s ease, -webkit-transform 0.2s ease;
}

.content-name {
  position: absolute;
  bottom: 5px;
  left: 0;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.form input:focus + .label-name .content-name,
.form input:not(:placeholder-shown) + .label-name .content-name {
  -webkit-transform: translateY(-150%);
  transform: translateY(-150%);
  font-size: 14px;
  color: #4a90d9;
}

.form input:focus + .label-name::after,
.form input:not(:placeholder-shown) + .label-name::after {
  -webkit-transform: translateX(0);
  transform: translateX(0);
}

/* ---------------------------- */

.delete-account-btn {
  color: white;
  text-decoration: none;
  font-weight: bold;
  margin: 5px;
  padding: 10px;
}

.delete-form {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-flow: column nowrap;
  margin: 0 auto;
  width: 50%;
}

.normal-input input {
  border-radius: 5px;
  padding: 5px;
  font-size: 17px;
}
